<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :nick %>
  <%= f.input :email1 %>
  <%= f.input :subdomain %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.error :base %>
  <%= f.button :submit %>
<% end %>
