<!DOCTYPE html>
<html>
<head>
  <title>SbmmnCom</title>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">

    <header id="main" >

        <% if sponsor %>
          <section id="sponsor_info">
            <p>Name: <%= sponsor.nick.try :capitalize %></p>
            <p>E-mail: <%= sponsor.email1.try :downcase %></p>
            <p>Site: <%= link_to root_url(subdomain: sponsor.subdomain), root_url(subdomain: sponsor.subdomain) %></p>
          </section>
        <% end %>

      <section id="auth_area">
        <%= link_to "Home", root_path %> |
        <%= link_to "Articles", articles_path %> |
        <% if current_user %>
          Logged in as <%= current_user.email1 %>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
      </section>

    </header>

    <section id="main">

      <section id="message">
        <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, :id => key %>
        <% end %>
      </section>


      <section id="content">
        <%= yield %>
      </section>
    </section>


    <footer id="main">

    </footer>

  </div>

<div id="debug">
  <%= debug sponsor if Rails.env=="development" %>
  <hr/>
  <%= debug session if Rails.env=="development" %>
  <hr/>
  <%= debug flash if Rails.env=="development" %>
  <hr/>
  <%= debug cookies if Rails.env=="development" %>
</div>

</body>
</html>
